body{
     display: flex;
     flex-direction: column;
     justify-content: center;
.border{
    width: 600px;
    height: 350px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;

    .clouds{
        position: relative;
        width:100%;
        height: 100px;
        .cloud1{
            position: absolute;
            width: 100px;
            height: 60px;
            left: 600px;
            top:1px;
            background-color:black;
            border-top-left-radius: 60px ;
            border-top-right-radius: 49px;
            border-bottom-left-radius:36px ;
            border-bottom-right-radius: 40px;
            animation: clod1 6s infinite linear ;
        }
        .cloud2{
            position: absolute;
            width: 150px;
            height: 80px;
            left: 600px;
            top: 30px;
            background-color: black;
            border-top-left-radius: 88px ;
            border-top-right-radius: 85px;
            border-bottom-left-radius:76px ;
            border-bottom-right-radius: 79px;
            animation: clod2 6s infinite linear;
            animation-delay: 2s;
        }
        .cloud3{
            position: absolute;
            width: 120px;
            height: 70px;
            left:600px;
            top: 20px;
            background-color: black;
            border-top-left-radius: 88px ;
            border-top-right-radius: 85px;
            border-bottom-left-radius:76px ;
            border-bottom-right-radius: 79px;
            animation: clod3 6s infinite linear;
            animation-delay: 4s;
        }
        @keyframes clod1 {
            0%{left:600px}
            100%{left: -100px}
            
        }
        @keyframes clod2 {
            0%{left:600px}
            100%{left: -150px}
            
        }
        @keyframes clod3 {
            0%{left:600px}
            100%{left: -120px}
            
        }

    }
   #charac{
       position: absolute;
       bottom: 0px;
       width: 30px;
       height: 30px;
       border-radius: 50%;
       background-color: black;
       left:25px;
   }
   #obs1{
       width: 50px;
       height: 80px;
       background-color: black;
       position: absolute;
       bottom: 0px;
       left: 230px;
       animation: obst1 2.1s infinite linear ;
      
   }
   #obs2{
    width: 50px;
    height: 80px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 600px;
    animation: obst2 2.1s infinite linear;
    animation-delay: 1s;
   }
   @keyframes obst1{
       0%{left:600px}
       100%{left: -50px}
   }

   @keyframes obst2{
       0%{left:600px}
       100%{left: -50px}
   }
}

#tryagain{
    width: 300px;
}
}
